.main-container {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.animation-cropper {
    width: 80%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 768px) {
    .main-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
    }
}