.main {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 90%;
    height: 95%;
    overflow: hidden;
}

.cancel-button {
    flex: 0 0 auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: thin solid;
    font-size: 18px;
    text-align: center;
    color: whitesmoke;
    transition: color 0.3s ease-in-out;
}
.cancel-button:active {
    cursor: crosshair;
    border-color: crimson;
    color: crimson;
}

.title-card {
    color: whitesmoke;
    font-size: 48px;
    line-height: 1;
}

.releases { 
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
.releases::-webkit-scrollbar {
  display: none; 
}

@media (min-width: 768px) {
    .container {
        width: 50%;
        height: 95%;
    }

    .cancel-button:hover {
        cursor: crosshair;
        color: crimson;
    }
}