.container {
    width: 100%;
    font-size: 64px;
    color: black;
    transition: all 0.3s ease-in-out;
}

.container:active {
    cursor: crosshair;
    color: blueviolet;
}

@media (min-width: 768px) {
    .container:hover {
        cursor: crosshair;
        color: blueviolet;
    }
}