.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
}

.search {
    display: flex;
    flex-direction: row;
}

.search-input {
    flex: 1 0 auto;
}

.results {
    height: 360px;
    overflow-y: auto;
}