.result-item {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 6px;
    transition: all .3s ease-in-out;
}
.result-item:hover {
    cursor: crosshair;
    background-color: rgba(138, 43, 226, .5);
}

.result-item--editor {
    padding: 0px;
}


.cover {
    flex: 0 0 60px;
    height: 60px;
    margin-right: 12px;
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    flex: 0 1 auto;
    min-width: 0;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-title {
    font-size: 16px;
    font-weight: 400;
    /* color: #b3b3b3; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pixel-img {
    image-rendering: pixelated;
} 
    


